/* --- CONFIGURACIÓN GENERAL --- */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f3e5f5; /* Fondo lila suave */
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

/* --- TARJETA PRINCIPAL --- */
.contenedor {
    background-color: white;
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(142, 68, 173, 0.2);
}

h1 {
    color: #4a148c; /* Morado oscuro */
    text-align: center;
    margin-bottom: 5px;
}

.subtitulo {
    text-align: center;
    color: #9b59b6;
    margin-bottom: 25px;
    font-size: 14px;
}

/* --- ESTILOS DE LOS MENSAJES (ALERTAS) --- */
.zona-mensajes {
    margin-bottom: 20px;
}

.alerta {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px; /* Separación entre mensajes si hay varios */
    font-weight: bold;
    font-size: 14px;
    animation: bajar 0.5s ease; /* Pequeña animación de entrada */
}

/* Estilo específico para ERRORES (Rojo suave) */
.alerta-error {
    background-color: #ffebee;
    color: #c62828;
    border-left: 5px solid #c62828;
}

/* Estilo específico para ÉXITO (Verde suave) */
.alerta-exito {
    background-color: #e8f5e9;
    color: #2e7d32;
    border-left: 5px solid #2e7d32;
}

/* --- FORMULARIO --- */
label {
    display: block;
    color: #4a148c;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 2px solid #e1bee7;
    border-radius: 10px;
    outline: none;
    display: block;
}

input[type="text"]:focus {
    border-color: #8e44ad;
}

.btn-morado {
    background-color: #8e44ad;
    color: white;
    width: 100%; /* Ocupa todo el ancho pero el CSS del input es 90% + padding... ajustamos */
    width: 96%; /* Ajuste visual aproximado */
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 25px;
    transition: 0.3s;
}

.btn-morado:hover {
    background-color: #6c3483;
}

@keyframes bajar {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}