<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}Mi Web{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>

    <nav class="barra-navegacion">
        <a href="/" class="link-menu"> Inicio</a>
        <a href="/about" class="link-menu"> Sobre Mí</a>
        <a href="/contacto" class="link-menu"> Contacto</a>
    </nav>

    <div class="contenedor-principal">
        {% block contenido %}
        {% endblock %}
    </div>

    <footer class="pie-pagina">
        <p>Mi Sitio Web</p>
    </footer>

</body>
</html>