/* --- CONFIGURACIÓN GENERAL --- */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3e5f5; /* Fondo lila muy suave */
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

/* --- TARJETA PRINCIPAL --- */
.contenedor {
    background-color: white;
    width: 450px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(142, 68, 173, 0.2); /* Sombra morada */
}

/* --- TÍTULO --- */
h1 {
    color: #4a148c; /* Texto oscuro */
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
}

/* --- CAMPO DE TEXTO --- */
input[type="text"] {
    width: 60%;
    padding: 12px;
    border: 2px solid #e1bee7;
    border-radius: 30px;
    outline: none;
    font-size: 15px;
}

input[type="text"]:focus {
    border-color: #8e44ad; /* Borde morado al escribir */
    box-shadow: 0 0 8px rgba(142, 68, 173, 0.3);
}

/* --- AQUÍ ESTÁ EL BOTÓN QUE PEDISTE --- */
.btn-agregar {
    background-color: #8e44ad; /* ¡FONDO MORADO! */
    color: white;              /* ¡LETRAS BLANCAS! */

    border: none;
    padding: 12px 25px;
    border-radius: 30px;       /* Bordes redondos */
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

/* Efecto al pasar el mouse */
.btn-agregar:hover {
    background-color: #732d91; /* Se pone un morado más oscuro */
    transform: scale(1.05);    /* Crece un poquito */
}

/* --- LISTA DE TAREAS --- */
.lista {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.item-tarea {
    background-color: white;
    border-bottom: 1px solid #f3e5f5;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto {
    color: #4a148c;
    font-weight: 500;
}

/* BOTÓN ELIMINAR (Rojo para diferenciar) */
.btn-rojo {
    background-color: #ef5350;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
}

.btn-rojo:hover {
    background-color: #c62828;
}

/* MENSAJE VACÍO */
.mensaje-vacio {
    text-align: center;
    color: #ba68c8;
    margin-top: 20px;
    font-style: italic;
}